main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    
}

.container{
    width: 90%;
    max-width: 1400px;
    height: 100vh;
}

.btn-agregar{
    position: relative;
    display: flex;
    background: #9890e3;
    width: 130px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: .5 all;
}



.btn-agregar p{
    padding-left: 5px;

}

.firts-container{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 10px 0px;


}

.firts-container h2{
    width: 60%;
    margin-top: 5px;
}

.firts-container h3{
    padding: 10px;
}

.second-container h4{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    color: #555555;
}

.third-container{
    display: flex;
    justify-content: space-between;
}

.customer-card{
    height: 5rem;
    display: flex;
    background: white;
    align-items: center;
    padding: 2rem;
    box-shadow: 0px 30px 60px 0 hsl(0, 1%, 55%,.20) ;
    margin-bottom: 10px;
    position: relative;
}

.haber{
    position: absolute;
    left: 40%;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
.debe{
    position: absolute;
    left: 60%;
    font-size: 20px;
}


.opciones{
    position: absolute;
    right: 5%;
}

.opciones i{
    padding: 1rem;
    transition: .5s all;
    cursor: pointer;
    color: #555555;
}

.opciones i:hover{
    color: #9890e3;
}

.customer-card h4{
    font-size: 20px;
}

/*Nuevo*/
.center{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:140px;
	right:140px;
	background-color:#9890e3;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #9890e3;
    cursor: pointer;
}

.my-float{
	margin-top:22px;
}


@media screen and (max-width:1005px){
    h3{
        font-size: 15px;
    }
    .second-container h4{
        font-size: 15px;
    }
    .btn-agregar p{
        font-size: 15px;
    }

    .haber, .debe{
        font-size: 15px;
    }
}


@media screen and (max-width:890px){
    h3{
        font-size: 13px;
    }
    .second-container h4{
        font-size: 15px;
    }
    .btn-agregar p{
        font-size: 15px;
    }
}

@media screen and (max-width:414px){
    .firts-container{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .firts-container h2{
        width: 100%;
    }

    .btn-agregar{
        height: 30px;
        width: 100px;
        font-size: 10px;
    }
    .haber{
        display: none;
    }
    .debe{
        display: block;
        left: 50%;
        font-size: 10px;
    }


    h3{
        font-size: 10px;
    }

    .customer-card h4{
        font-size: 15px;
    }

    .second-container h4{
        width: 90%;
        font-size: 10px;
    }
}

