<body>
    <app-navbar></app-navbar>
    <section class="contenedor">
        <div class="img">
            <img src="../../../assets/img/createPurchase.svg" alt="">
        </div>
        <div class="subContenedor">
            <div class="form-container" >
                <div class="titulo">
                    <h2>Registrar  Compra</h2>
                </div>
                <div class="subtitulo">
                    <h4>Esta seccion permitira registrar una compra con minimo y maximo 1 producto.</h4>
                </div>
                <div   class="formulario" >
                    <form   #myForm class="formularioCliente" >
                        <div class="grupo">
                            <input type="text" class="texto" title="Nombre especifico de la compra" [(ngModel)]="purchase.purchaseName" name="purchaseName" required>
                            <label for="">Nombre </label>
                        </div>
                        <div class="grupo">
                            <input type="date" class="texto" title="Fecha exacta de la compra" required [(ngModel)]="purchase.operationDate" name="operationDate">
                            <label for="">Fecha </label>
                        </div>
                        <div class="product">
                            <div class="grupo">
                                <input type="text" class="texto" title="Se necesita agregar minimo un producto" required [(ngModel)]="purchase.purchaseProductsName" name="purchaseProductsName">
                                <label for="">Producto </label>
                            </div>
                            <div class="grupo">
                                <input type="number" class="texto"  title="Monto con 2 decimales del producto" required [(ngModel)]="purchase.purchaseProductsAmount" name="purchaseProductsAmount" step='0.01'  value='0.00'>
                                <label for="">Monto del producto</label>
                            </div>
                        </div>
                        <div class="divBtn">
                            <input type="submit" class="btn" value="Registrar" (click)="registerPurchase(myForm)">
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </section>
</body>