<body>
    <app-navbar></app-navbar>
    <section class="contenedor">
        <div class="img">
            <img src="../../../assets/img/registerDelivery.svg" alt="">
        </div>
        <div class="subContenedor">
            <div class="form-container" >
                <div class="titulo">
                    <h2>Registrar  Delivery</h2>
                </div>
                <div class="subtitulo">
                    <h4>En esta seccion podrás registrar el delivery con su monto.</h4>
                    <h5>Para la compra:  {{purchaseTestName.purchaseName}}</h5>
                </div>
                <div   class="formulario" >
                    <form   #myForm class="formularioCliente" >
                        <div class="grupo">
                            <input type="text" title="Nombre especifico del delivery" class="texto" required>
                            <label for="">Nombre </label>
                        </div>
                        <div class="grupo">
                            <input type="number"  title="Monto especifico del delivery con 2 decimales" class="texto"  required  [(ngModel)]="purchase.deliveryAmount" name="deliveryAmount">
                            <label for="">Monto del delivery </label>
                        </div>
                        <div class="divBtn">
                            <input type="submit" class="btn" value="Registrar" (click)="registerDelivery(myForm)">
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </section>
</body>